[submodule "tutorial"]
	path = tutorial
	url = git@github.com:walterfan/webrtc_note.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:walterfan/webrtc_snippets.git
[submodule "refer"]
	path = refer
	url = git@github.com:walterfan/webrtc_refer.git
