#linkTab {
    font-size: 12px;
    font-family: Arial;
    color: #330099;
    line-height: 24px;
    text-align: left
}

label {
  font-weight: 500;
  margin: 0 10px 0 0;
}

textarea {
  height: 200px;
  width: 100%;
}
